.header {
    position: relative;
    margin: 0 auto;
    padding: 0;
    position: sticky;
    top: 0;
    overflow: visible;
    z-index: 101;
    width: 100%;
    background: linear-gradient(to right, $main-base-color 50%, $main-base-color  50%);

    &__inner {
        position: relative;
        display: flex;
        align-items: center;     
        justify-content: flex-start; 

        @mixin atMedium {
            justify-content: space-between;             
        }
    }

    .logo {
        position: relative;
        width: 75px;
        height: 75px;
        /* flex parent rules */
        flex-basis: 100%;
        /* flex children rules */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;

        &__header {
            width: 40px;
            height: 40px;
        }
        &__image {
            -webkit-mask: url(../images/logo.svg) no-repeat 50% 0px;
            mask: url(../images/logo.svg) no-repeat 50% 0px;
            /* background-size: 50%; */

            span {
                opacity: 0;
                visibility: hidden;
                position: relative;
                z-index: -1;
            }

            @mixin atMedium {
                margin: 0;
            }
        }
        &--white {
            background-color: white;
        }
        &--black {
            background-color: black;
        }
        &--gray {
            background-color: google-color(grey, 400);
        }
        &--cta {
            background-color: white;
        }
        & .title {
            font-family: $cursive;
            font-weight: 300;
            font-size: 40px;
        }
    }

    @mixin atMedium {
        background: linear-gradient(to right, $main-base-color 50%, $main-base-color-darker 50%);

        .logo {
            flex-basis: 50%;
            justify-content: flex-start;
        }     
    }
}
