.morgan-was-here {}

.header__main {
    position: relative;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    overflow: visible;
    z-index: 4;
    width: 100%;
    /* background: linear-gradient(to right, $main-base-color 50%, $main-base-color  50%); */

    &.fill {
        background: color(white a(1));
        transition: background .3s ease-out;
    }
    &.unfill {
        background: color(white a(0));
        transition: background .3s ease-out;
    }

    .mobile-nav--is-open & {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: color(white a(.8));
            width: 100%;
            height: 100%;  
            transition: background .3s ease-out;    
        }
        @mixin atMedium {
            &::before {
                background: color(white a(0));
                transition: none;
            }
        }         
    }
    .mobile-nav--is-closed & {
        &::before {
            transition: background .3s ease-out;
            background: color(white a(0));
        }
        @mixin atMedium {
            &::before {
                background: color(white a(0));
                transition: none;
            }
        }        
    }

    &__inner {
        position: relative;
        display: flex;
        align-items: center;     
        justify-content: flex-start; 

        @mixin atMedium {
            justify-content: space-between;             
        }
    }

    .logo {
        position: relative;
        width: 75px;
        height: 75px;
        /* flex parent rules */
        flex-basis: 100%;
        /* flex children rules */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;

        /* Think about allowing size in admin */

        &__header {
            width: 40px;
            height: 40px;
        }
        &__image {
            /* -webkit-mask: url(../images/logo.svg) no-repeat 50% 0px;
            mask: url(../images/logo.svg) no-repeat 50% 0px;
            position: relative;
            top: 10px; */
            /* background-size: 50%; */
            span {
                opacity: 0;
                visibility: hidden;
                position: relative;
                z-index: -1;
            }

            @mixin atMedium {
                margin: 0;
                top: auto;
            }
        }
        &--white {
            background-color: white;
        }
        &--black {
            background-color: black;
        }
        &--gray {
            background-color: google-color(grey, 400);
        }
        &--cta {
            background-color: white;
        }
        & .title {
            font-family: $sans-secondary;
            font-weight: 500;
            /* color: white; */
            font-size: 20px;
            margin-bottom: 0;
        }
        .mobile-nav--is-open & {
            opacity: .2;
        }
        @mixin atMedium {
            .mobile-nav--is-open & {
                opacity: 1;
            }            
        }
    }

    @mixin atMedium {
        /* background: linear-gradient(to right, $main-base-color 50%, $main-base-color-darker 50%); */
        /* position: sticky; */

        .logo {
            flex-basis: 50%;
            justify-content: flex-start;
        }     
    }
}
