.nav {
    height: 100vh;
    width: 280px;
    padding-top: 75px;    
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .6);
    top: 0;
    right: -300px;
    background-color: color($base-bg-color lightness(35%));
    
    .mobile-nav--is-open & { 
        right: 0;
        transition: all .3s ease-out;        
    }

    @mixin atMedium {
        width: 100%;
        right: 0;
        height: auto;
        padding-top: 0;
        position: relative;
        box-shadow: none;
        transition: none;

        .mobile-nav--is-open & { 
            right: 0;        
        }        
    }

    &__inner { 
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;        

        .mobile-nav--is-open & {  
            opacity: 1;
            visibility: visible;
        }   

        @mixin atMedium {
            flex-direction: row;
            align-items: stretch;
            justify-content: flex-end;
            height: 75px; 
            opacity: 1;
            visibility: visible;            

            .mobile-nav--is-open & {  
                opacity: 0;
                visibility: hidden; 
            }                          
        }
    }    

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color($base-bg-color lightness(40%));
        width: 100%;
        font-weight: 600;
        color: color($base-font-color-light lightness(78%));
        padding: 20px 20px;
        transition: all .3s ease-out;

        &.active {
            color: white;
            background-color: color($base-bg-color lightness(37%));
        }
        &:hover {
            color: color($base-font-color-light lightness(78%));
            background-color: color($base-bg-color lightness(43%));
        }
        &:active {
            color: white;
        }       
    }

    @mixin atMedium {

        background-color: $main-base-color;

        &__item {
            color: $base-font-color-light;
            background-color: $main-base-color-darker; 

            &.active {
                color: white;
                background-color: $main-base-color-dark;
            }
            &:hover {
                color: white;
                background-color: $main-base-color-dark;
            }
            &:active {
                color: white;
            }                           
        }    
    }     
}

.nav__trigger {
    position: fixed;
    display: none; 
    top: 27px;   
    right: 20px;
    cursor: pointer;
    width: 35px;
    height: 16px;

    &--inner, &::before, &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $base-font-color-light;
        border-radius: 30px;
        left: 0;
        transition: all .3s ease-out;
        transform-origin: 100% 0;
    }
    &--inner {
        top: 8px;
    }    
    &::before {
        top: 0;
    }
    &::after {
        top: 100%;
    }

    &:hover {
        .nav__trigger--inner, 
        &::before, 
        &::after {
            background-color: color($base-font-color-light lightness(75%));
        }
    }
    .is--mobile-nav & {
        display: block;
    }  
    .mobile-nav--is-open & {

    }  
    @mixin atMedium {
        .is--mobile-nav & {
            display: none;
        }         
    }
}

.mobile-nav--is-open {
    & .nav__trigger {
        &--inner {
            top: 100%;
            transform:  rotate(40deg) 
                        scaleX(.75) 
                        translateX(0)
                        translateY(-10%);
        }    
        &::before {
            transform:  rotate(90deg) 
                        scaleX(.5) 
                        translateX(100%)
                        translateY(0);
        }
        &::after {
            transform:  rotate(0) 
                        scaleX(.5) 
                        translateX(0)
                        translateY(0);
        }
    }
}








