.theme--ol {
    & .hero__title,
    & .hero__caption {
        color: black;
    }
}
.theme--od {
    & .hero__title,
    & .hero__caption {
        color: white;
    }
}

.bg {
    &--grey50 {
        background-color: google-color(grey, 50);
    }
}
.color {
    &--cta {
        color: $cta;
    }
}
